/* Custom Properties 
*/

:root {
	--bg: #ffffff;
}

/* Page 
*/

body.settings_page_dw-acf-options {
	background: var(--bg, #fff);
}

/* Content 
*/

.settings_page_dw-acf-options h1 {
	font-size: 1.7em;
	font-weight: 500;
	color: #565656;
}

/* Checkbox */
ul.acf-checkbox-list {
  display: grid;
}
.acf-checkbox-list li {
  margin: 5px !important;
  font-size: 15px !important;
  font-weight: 600;
}

.acf-checkbox-list li label.selected {
  color: #565656;
  transition: all 0.3s ease;
}

.acf-checkbox-list li label {
  color: rgb(86 86 86 / 50%);
  transition: all 0.3s ease;
}

.acf-checkbox-list li input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 19px;
  height: 19px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  position: relative;
}

.acf-checkbox-list li input[type="checkbox"]:checked::before {
  content: "\2714";
  font-size: 11px;
  color: #2271b1;
  position: absolute;
  top: 12px;
  left: 2px;
}

ul.acf-checkbox-list.acf-bl {
  width: max-content;
  padding-right: 15px;
}

.acf-postbox .postbox-header {
  display: none !important;
}


